@model IAM_UI.Models.MailUserMaster

@{
    Layout = "~/Views/Shared/Password.cshtml";

  
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card bg-pattern">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <div class="auth-logo">
                                <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/logo-dark.png" alt="" height="22">
                                    </span>
                                </a>

                                <a href="index.html" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="assets/images/logo-light.png" alt="" height="22">
                                    </span>
                                </a>
                            </div>
                            <h3 class="from-label">Forgot Password</h3>
                            <p class="text-muted mb-4 mt-3">Enter your email, and we'll verify it before sending your password to your inbox.</p>
                        </div>
                        <form id="eform" class="lable3 form-horizontal needs-validation" asp-controller="ChangePasswordUI" asp-action="CheckMail" method="post" novalidate>



                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input class="form-control" type="email" asp-for="Email_ID" placeholder="Enter your email" required>
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>

                          

                            <div class="text-center d-grid">
                                <button class="btn btn-primary" type="submit" id="Btn_check"> Check mail </button>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-white-50">Back to <a href="/Login/Login" class="text-white ms-1"><b>Log in</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->


<footer class="footer footer-alt">
    <script>document.write(new Date().getFullYear())</script> &copy;HRMS by <a href="#" class="text-white-50">Technocon Servics</a>
</footer>
@section Scripts {

    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/ForgetPasswordUI.js"></script>

<script>
    $(document).ready(function () {

        var message = '@TempData["MSG"]';
        if (message == "successmail") {
            Swal.fire("Done", "please check your mail !!", "success");
        } else if (message == "failmail") {
            Swal.fire("Oops!!!", "The mail you have given is incorrect", "error");
        } else if (message == "Fail") {
            Swal.fire("Oops!!!", "Please Contact Admin", "error");
        }
    });
</script>